{% extends 'base.html' %}
{% load static %}
{% block title %}Личный кабинет | Sherboto{% endblock %}
{% block content %}

<main role="main">
        
    
    <div class="jumbotron border-round-0 min-50vh" style="background-image:url({% static 'assets/img/400.png' %});">
    </div>
    <div class="container mb-4">
    	<img src="{% static 'assets/img/av.png' %}" class="mt-neg100 mb-4 rounded-circle" width="128">

    	<h1 class="font-weight-bold title">{{ username }}</h1>
    	<p>
    		Test text
    	</p>
    </div>

    <div class="container-fluid mb-5">
    	<div class="row">
			<div class="card-columns">
				{% if author_list %}
					{% for a in author_list %}
						<div class="card card-pin">
							<img class="card-img" src="/media/{{ a.image }}" alt="Card image">
							<div class="overlay">
								<h2 class="card-title title">{{a.title}}</h2>
								<div class="more">
									<a href="{% url 'gallery:detail' a.id %}">
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<h1>Нет постов</h1>
				{% endif %}
			</div>
    	</div>
    </div>
        
    </main>

{% endblock content %}